[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "alembic>=1.18.1",
    "fastapi[standard]>=0.128.0",
    "psycopg2>=2.9.11",
    "uuid>=1.30",
    "uvicorn>=0.40.0",
]
